html,
body
	font-family Open
	font-weight 400
.section
	&-row
		padding 50px 0
		text-align center
		background-size cover
		background-repeat no-repeat
		background-position center
#stadium
	background-image url(../images/background/team-bg.jpg)
	background-attachment fixed
	&-maps
		height 400px
		&.maps-int
			height 300px
#service
	background-color $gray_light
#onecontact
	background-color #F7F7F7
#red
	padding 25px 0
	position relative
	background-image url(../images/background/bg-grass.jpg)
	&:before
		content ''
		background-color rgba($red,.8)
		width 100%
		height 100%
		position absolute
		left 0
		top 0
.btn
	padding 10px 30px
	&.btn
		&-red
			background-color $red
			color white
.banner-page
	height 300px
	background-size cover
	background-repeat no-repeat
	background-position center
	background-attachment fixed
	
/*
 * Datos del campo
 */

.page
	&-title
		background-color $red
		h1
			margin 15px 0
			color $white
			text-transform uppercase
			font-family OpenCond
			font-weight 300
		&-block
			font-family OpenCond
			text-transform uppercase
			font-weight 700
			text-align left
			color $red
			margin-bottom 20px
	&-text
		&-block
			text-align left
			&-1
				width 35%
				display inline-block
				margin-right -4px
				vertical-align middle
			&-2
				width 65%
				display inline-block
				margin-right -4px
				vertical-align middle
			h5
				color $red
				font-family OpenCond
				font-weight 700
				text-transform uppercase
				span
					color $gray
					font-family Open
					font-weight 400
	&-figure
		&-block
			margin-bottom 20px