html,
body
	font-family Open
	font-weight 400
.section
	&-row
		padding 50px 0
		text-align center
		background-size cover
		background-repeat no-repeat
		background-position center
#stadium
	background-image url(../images/background/team-bg.jpg)
	background-attachment fixed
#service
	background-color $red
#red
	padding 25px 0
	background-color $red
.btn
	padding 10px 30px
	&.btn
		&-red
			background-color $red
			color white