.header-nav
	position fixed
	width 100%
	.navbar
		&-header
			height auto
		&-brand
			height auto
			img
				max-width 100px
		&-nav
			border 1px solid white
			li
				a
					color white
					text-transform uppercase
					&:hover
						background-color white
						color $dark_gray
		&-content
			display table
			height 115px
			.nav-list
				display table-cell
				vertical-align middle