.new
	&-text
		h5
			text-align left
			text-transform uppercase
			font-family OpenCond
			font-weight 700
			font-size 1.2em
			margin 0
		h6
			text-align left
			color red
			margin 0
			margin-bottom 15px
			text-transform uppercase
			font-family OpenCond
			font-weight 700
		p
			text-align left