.container
	.row
		.col-md-7.contact-block.animated
			.contact-title
				h2.title-block
					i(class="fa fa-caret-right" aria-hidden="true")
					| Formulario de contacto
			.contact-text
				form(class="form")
					.form-box.col-xs-6
						label(for="name") Nombre y Apellido
						input(type="text" class="form-control" id="name" placeholder="Nombre")
					.form-box.col-xs-6
						label(for="lastname") Empresa
						input(type="text" class="form-control" id="company" placeholder="Empresa")
					.form-box.col-xs-6
						label(for="email") Email
						input(type="text" class="form-control" id="email" placeholder="Email")
					.form-box.col-xs-6
						label(for="phone") Teléfono
						input(type="text" class="form-control" id="phone" placeholder="Teléfono")
					.form-box
						label(for="issue") Asunto
						select(class="form-control" id="issue" placeholder="Asunto")
							option Academias
							option Cafetería
							option Eventos
							option Canchas
							option Lima target
							option Publicidad
					.form-box
						label(for="message") Mensaje
						textarea(type="textarea" class="form-control" id="message" placeholder="Mensaje...")
					
					.form-box.btn-box
						p.form-term Al enviar dicha solicitud acepto los términos y condiciones.
						.btn-submit
							button(type="submit" class="btn btn-red") Enviar
		.col-md-5
			.contact-title.animated-title.animated
				h2.title-block
					i(class="fa fa-caret-right" aria-hidden="true")
					| Contacto
			.contact-text.animated-text.animated
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum quas facere.
				ul.list-contact
					li
						a(href="tel:016830097")
							h5
								i(class="fa fa-phone" aria-hidden='true')
								| +0511 683 0097
					li
						a(href="mailto:info@deporplaza.pe")
							h5
								i(class="fa fa-envelope" aria-hidden='true')
								| info@deporplaza.pe
					li
						a
							h5
								i(class="fa fa-clock-o" aria-hidden='true')
								| Horario de atención: de 9am-6pm
			.contact-title.animated-title.animated
				h2.title-block
					i(class="fa fa-caret-right" aria-hidden="true")
					| Redes Sociales
			.contact-text.animated-text.animated
				ul.list-social
					li
						a(href="https://www.facebook.com/DeporPlaza10" target="_blank")
							i(class="fa fa-facebook" aria-hidden="true")
					li
						a(href="https://www.facebook.com/DeporPlaza10" target="_blank")
							i(class="fa fa-youtube" aria-hidden="true")