.container
	.row
		section.new-title
			h1.title Ultimas
				span  Noticias
		- for (var i = 1 ; i <= 4 ; i++)
			.col-md-3
				figure.page-figure-block
					img(class="img-responsive" src="images/new/new_#{i}.jpg")
				.new-text
					h5 Lorem ipsum dolor sit amet #{i}
					h6 Consectetur adipisicing.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, possimus ab omnis! Laudantium, repudiandae atque placeat perferendis.