.container
	.row
		section.new-title
			h1.title
				span  Servicios
		.col-lg-2.col-md-3.col-sm-3.we-block
			figure.we-img
				i(class="fa fa-bullhorn" aria-hidden="true")
			h3 Canchas
			p Los complejos cuentan con diferentes tipos de canchas; sintéticas para futbol 5, 6, 7 y 11 y losas multiuso para deportes como fulbito, vóley, basket, vóley, entre otros.
		.col-lg-2.col-md-3.col-sm-3.we-block
			figure.we-img
				i(class="fa fa-coffee" aria-hidden="true")
			h3 Cafetería
			p Dentro de nuestros complejos, contamos con una concesionaria de cafeterías full equipadas, las cuales brindan también el servicio de catering para diferentes eventos y servicios varios.
		.col-lg-2.col-md-3.col-sm-3.we-block
			figure.we-img
				i(class="fa fa-futbol-o" aria-hidden="true")
			h3 Academias
			p Para diversificar los servicios al publico, en Deporplaza contamos con 3 diferentes tipos de academias; internacional, nacional y propia.
		.col-lg-2.col-md-3.col-sm-3.we-block
			figure.we-img
				i(class="fa fa-paper-plane" aria-hidden="true")
			h3 Publicidad
			p Al contar con mas de 15 complejos deportivos en Lima Metropolitana, formamos un circuito de activos publicitarios con un publico objetivo claro y altos niveles de concurrencia.
		.col-lg-2.col-md-3.col-sm-3.we-block
			figure.we-img
				i(class="fa ico-logo-lima" aria-hidden="true")
			h3 Lima Target
			p Gestión Corporativa de complejos deportivos a todo nivel; venta de grass, instalación, mantenimiento y construcción y administración del local.
		.col-lg-2.col-md-3.col-sm-3.we-block
			figure.we-img
				i(class="fa fa-calendar" aria-hidden="true")
			h3 Eventos
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quia saepe nihil nulla sit assumenda nesciunt cumque.