section.page-title
	.container
		.row
			.col-xs-12
				h1 Campo del Parque Lloque Yupanqui
.section-row
	.container
		.row
			.col-sm-8
				h3.page-title-block Datos del Campo
				figure.page-figure-block
					img(class="img-responsive" src="images/stadium/campo_1.jpg")
				.page-text-block
					h5 Descripción:
						span  Cancha de Futbol 6 de 750 metros cuadrados
					h5 Incluye:
						span  Chalecos, Pelotas
					h5 Tribuna:
						span  Para 100 personas
					h5 Estacionamiento interno:
						span  Para 6 vehículos
					h5 Servicios higiénicos:
						span  Damas y Caballeros
			.col-sm-4
				h3.page-title-block Información
				p.page-text-block 
					| Teléfono: 4510001 / 984471883<br/>
					| Dirección: Jr Río Piura s/n ( espalda de la Videna, a 1 cdra de la Av del Aire)<br/>
					| Distrito: San Luis<br/>
					| Canchas: 1 Canchas
				.embed-responsive.embed-responsive-4by3
					iframe(class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5037.707021239778!2d-77.07591733020229!3d-11.977682479263281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x278cbce8fc5ed7ea!2sParque+Zonal+Lloque+Yupanqui!5e0!3m2!1ses!2spe!4v1462208422312")