.container
	.row
		section.stadium-title.animated
			h1.title Nuestros
				span  locales
			.control
				a(class="all-stadium" href="/sanantonio/campos.html") Ver todas
				button(class="owl-prev" style="")
					i(class="fa fa-chevron-left" aria-hidden="true")
				button(class="owl-next" style="")
					i(class="fa fa-chevron-right" aria-hidden="true")
		#owl-team.owl-carousel.animated
			article.article-team
				a(href='/sanantonio/parque-zonal-huascar.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Parque Zonal Huáscar
							h6 Villa el Salvador
							p Av. 200 Millas s/n, Tercer Sector.
			article.article-team
				a(href='/sanantonio/parque-zonal-huiracocha.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Parque Zonal Huiracocha
							h6 San Juan de Lurigancho
							p Av. Próceres de la Independencia Cuadra 12.
			article.article-team
				a(href='/sanantonio/parque-zonal-cahuide.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Parque Zonal Cahuide
							h6 Ate Vitarte
							p Av. De Los Parques S/N Urb. Valdivieso.
			article.article-team
				a(href='/sanantonio/parque-zonal-sinchiroca.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Parque Zonal Sinchi Roca
							h6 Comas
							p Av. Universitaria Cuadra 32 s/n.
			article.article-team
				a(href='/sanantonio/parque-zonal-lloque-yupanqui.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Parque Zonal Lloque Yupanqui
							h6 Los Olivos
							p Esquina Av. Universitaria y Av. Naranjal.
			article.article-team
				a(href='/sanantonio/parque-zonal-huayna-capac.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Parque Zonal Huayna Cápac
							h6 San Juan de Miraflores
							p Esquina Av. Pedro Miota y Av. Mateo Pumacahua.
			article.article-team
				a(href='/sanantonio/estadio-municipal-campo-de-marte.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Estadio Municipal Campo De Marte
							h6 Jesus María
							p Jr. Nazca S/N.
			article.article-team
				a(href='/sanantonio/estadio-municipal-san-luis.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Estadio Municipal San Luis
							h6 San Luis
							p Av. Mariscal Nieto 288.
			article.article-team
				a(href='/sanantonio/complejo-deportivo-los-proceres.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Complejo Deportivo Los Próceres
							h6 Jesus María
							p Jr Belisario Flores Cdra 9.
			article.article-team
				a(href='/sanantonio/estadio-teofilo-cubillas.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Estadio Teófilo Cubillas
							h6 La Victoria
							p Av. Isabel La Católica 935.
			article.article-team
				a(href='/sanantonio/canchas-auxiliares-estadio-monumental.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Canchas Auxiliares Estadio Monumental
							h6 Ate Vitarte
							p Avenida Prolongación Javier Prado 7596.
			article.article-team
				a(href='/sanantonio/colegio-politecnico-nacional-del-callao.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Colegio Politécnico Nacional del Callao
							h6 Callao
							p Av. Elmer Faucett S/N.
			article.article-team
				a(href='/sanantonio/colegio-juan-carlos-vizcardo-y-guzman.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 Colegio Juan Carlos Vizcardo y Guzman
							h6 Cercado de Lima
							p Av. Nicolás Dueñas No 555.
			article.article-team
				a(href='/sanantonio/complejo-deportivo-oscar-benavides.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 IPD - Complejo Deportivo Oscar R. Benavides
							h6 La Victoria
							p Av. 28 de Julio No 1699.
			article.article-team
				a(href='/sanantonio/complejo-deportivo-chacarilla-de-otero.html')
					figure.block.block-img
						img(class="img-responsive" src="images/stadium/campo_1.jpg")
					aside.block.block-text
						.content-text
							h3 IPD - Complejo Deportivo Chacarilla de Otero
							h6 San Juan de Lurigancho
							p Calle Mariano Melgar No 146 - Urb. Chacarilla de Otero.