doctype html
html(lang="es")
	head
		meta(charset='utf-8')
		meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title Club Deportivo San Antonio
		link(type="text/css" rel="stylesheet" href="css/vendor/revolution.css")
		link(type="text/css" rel="stylesheet" href="css/vendor/owl.carousel.css")
		link(type="text/css" rel="stylesheet" href="css/main.css")
	body
		header
			.banner-page(style="background-image: url(images/banner/slide-1.jpg)")

		nav.header-nav
			include modules/navint

		include modules/onestadium

		.section-row
			.container
				.row
					.col-sm-8
						h3.page-title-block IPD - Complejo Deportivo Oscar R. Benavides
						figure.page-figure-block
							img(class="img-responsive" src="images/stadium/campo_1.jpg")
						.page-text-block.page-text-block-1
							h3.page-title-block Datos del campo
						.page-text-block.page-text-block-2
							.page-text-block-3
								h5 
									i(aria-hidden="true" class="fa fa-check-circle")
									| Futbol 5
								h5
									i(aria-hidden="true" class="fa fa-check-circle")
									| Futbol 7
								h5
									i(aria-hidden="true" class="fa fa-check-circle")
									| Futbol 11
							.page-text-block-3
								h5 
									i(aria-hidden="true" class="fa fa-minus")
									| Chalecos
								h5
									i(aria-hidden="true" class="fa fa-minus")
									| Pelotas
								h5
									i(aria-hidden="true" class="fa fa-check-circle")
									| Tribunas
							.page-text-block-3
								h5 
									i(aria-hidden="true" class="fa fa-check-circle")
									| Estacionamiento
								h5
									i(aria-hidden="true" class="fa fa-check-circle")
									| Servicios Higiénicos
					.col-sm-4
						h3.page-title-block Información
						p.page-text-block 
							| Teléfono: 4510001 / 984471883<br/>
							| Dirección: Av. 28 de Julio No 1699<br/>
							| Distrito: La Victoria
						#stadium-maps.maps-int

		section.section-row#onecontact
			include modules/onecontact


		footer.footer
			include modules/footer
		script(src="js/bundle.js")
		script(src="https://maps.google.com/maps/api/js?sensor=false")
		script.
			var punto = new google.maps.LatLng(-12.062559,-77.0270917);
			var mapOptions = {
				center: punto,
				zoom: 15,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
		script(src="js/vendor/jquery.themepunch.plugins.min.js")
		script(src="js/vendor/jquery.themepunch.revolution.min.js")
		script(src="js/vendor/owl.carousel.min.js")