doctype html
html(lang="es")
	head
		meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title Club Deportivo San Antonio
		link(type="text/css" rel="stylesheet" href="css/vendor/revolution.css")
		link(type="text/css" rel="stylesheet" href="css/vendor/owl.carousel.css")
		link(type="text/css" rel="stylesheet" href="css/main.css")
	body
		header.header#header
			include modules/slider

		nav.header-nav
			include modules/nav

		section.section-row#red
			.container
				.row
					.col-xs-12
						.red-content.animated
							h4.red-title Lorem ipsum dolor
							p.red-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quia saepe nihil nulla sit assumenda nesciunt cumque. Minima distinctio, facilis. Explicabo totam iusto tempora odit, ipsa consequuntur provident nisi 

		section.animated.section-row#we
			.container
				.row
					- for (var i = 1; i <= 4; i++)
						.col-md-3.col-sm-2.we-block
							if i === 1
								figure.we-img
									i(class="fa fa-bullhorn" aria-hidden="true")
								h3 Nosotros
							if i === 2
								figure.we-img
									i(class="fa fa-rocket" aria-hidden="true")
								h3 Misión
							if i === 3
								figure.we-img
									i(class="fa fa-eye" aria-hidden="true")
								h3 Visión
							if i === 4
								figure.we-img
									i(class="fa fa-list-ul" aria-hidden="true")
								h3 Valores
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quia saepe nihil nulla sit assumenda nesciunt cumque.

		section.section-row#stadium
			include modules/stadium

		section.section-row#service
			.container
				.row
					.col-xs-12
						.service-content.animated
							.col-sm-2
								figure.service-img
									img(class="img-responsive" src="images/base/logo_dantonia.png")
							.col-sm-10
								h4.service-title Servicio adicional
								p.service-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quia saepe nihil nulla sit assumenda nesciunt cumque. Minima distinctio, facilis. Explicabo totam iusto tempora odit, ipsa consequuntur provident nisi perspiciatis.

		section.section-row#contact
			include modules/contact

		footer.footer
			include modules/footer
		script(src="js/bundle.js")
		script(src="js/vendor/jquery.themepunch.plugins.min.js")
		script(src="js/vendor/jquery.themepunch.revolution.min.js")
		script(src="js/vendor/owl.carousel.min.js")