doctype html
html(lang="es")
	head
		meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title Club Deportivo San Antonio
		link(type="text/css" rel="stylesheet" href="css/main.css")
	body
		header.header
			include modules/nav
			.header-banner
			.header-img
				img.img-team(src='images/banner/team_1.png')
		section.section-row#stadium
			.container
				.row
					h1.section-title Nuestros
						span  (locales)
					section.stadium-content
						a.stadium-article(style="background-image: url(images/campos/campo_1.jpg)")
							.stadium-block(style="display: none")
								.stadium-block-content
									h4 Campo deportivo 1
									h6 Distrito San Juan
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quod aut minus libero laudantium at quae, natus, praesentium quas optio necessitatibus rem aliquam itaque facilis enim expedita. Magni, aut, cum.
						a.stadium-article(style="background-image: url(images/campos/campo_2.jpg)")
							.stadium-block(style="display: none")
								.stadium-block-content
									h4 Campo deportivo 2
									h6 Distrito Surco
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quod aut minus libero laudantium at quae, natus, praesentium quas optio necessitatibus rem aliquam itaque facilis enim expedita. Magni, aut, cum.
						a.stadium-article(style="background-image: url(images/campos/campo_3.jpg)")
							.stadium-block(style="display: none")
								.stadium-block-content
									h4 Campo deportivo 3
									h6 Distrito Miraflores
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quod aut minus libero laudantium at quae, natus, praesentium quas optio necessitatibus rem aliquam itaque facilis enim expedita. Magni, aut, cum.
						a.stadium-article(style="background-image: url(images/campos/campo_4.jpg)")
							.stadium-block(style="display: none")
								.stadium-block-content
									h4 Campo deportivo 4
									h6 Distrito La Molina
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quod aut minus libero laudantium at quae, natus, praesentium quas optio necessitatibus rem aliquam itaque facilis enim expedita. Magni, aut, cum.
						a.stadium-article(style="background-image: url(images/campos/campo_5.jpg)")
							.stadium-block(style="display: none")
								.stadium-block-content
									h4 Campo deportivo 5
									h6 Distrito Surquillo
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quod aut minus libero laudantium at quae, natus, praesentium quas optio necessitatibus rem aliquam itaque facilis enim expedita. Magni, aut, cum.

		section.section-row
			.container
				.row
					.col-xs-12
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum quas facere commodi atque doloremque consectetur minus ad, aut illum voluptate. Libero impedit quod hic reiciendis omnis non dolor suscipit!
		section.section-row
			.container
				.row
					.col-xs-12
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum quas facere commodi atque doloremque consectetur minus ad, aut illum voluptate. Libero impedit quod hic reiciendis omnis non dolor suscipit!
		script(src="js/bundle.js")