doctype html
html(lang="es")
	head
		meta(charset='utf-8')
		meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title Club Deportivo San Antonio
		link(rel="shortcut icon" href="images/favicon.ico")
		link(rel="shortcut" href="images/favicon.ico" type="image/x-icon")
		link(rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
		link(type="text/css" rel="stylesheet" href="css/vendor/revolution.css")
		link(type="text/css" rel="stylesheet" href="css/vendor/owl.carousel.css")
		link(type="text/css" rel="stylesheet" href="css/main.css")
	body
		header.header#header
			include modules/slider

		nav.header-nav
			include modules/nav

		section.section-row#red
			.container
				.row
					.col-xs-12
						.red-content.animated
							h4.red-title El espacio perfecto para disfrutar el deporte
		section.animated.section-row#we
			.container
				.row
					.col-md-3.col-sm-2.we-block
						figure.we-img
							i(class="fa fa-users" aria-hidden="true")
						h3 Nosotros
						p Siendo los lideres del mercado, en Deporplaza nos preocupamos en darle al deporte productos y servicios con tecnología de avanzada y altos estándares de calidad.
					.col-md-3.col-sm-2.we-block
						figure.we-img
							i(class="fa fa-rocket" aria-hidden="true")
						h3 Misión
						p Somos una empresa dedicada a brindar los servicios necesarios para el desarrollo de diversos deportes, eventos relacionados, academias, entre otros.
					.col-md-3.col-sm-2.we-block
						figure.we-img
							i(class="fa fa-eye" aria-hidden="true")
						h3 Visión
						p Ser la empresa líder de desarrollo y organización deportiva, orientada a la satisfacción total del cliente con una llegada innovadora y de calidad.
					.col-md-3.col-sm-2.we-block
						figure.we-img
							i(class="fa fa-list-ul" aria-hidden="true")
						h3 Valores
						p Contribuir con la sociedad a fomentar el civismo y los diferentes valores compartidos dentro de las diversas disciplinas deportivas ofrecidas.
		section#stadium-maps

		section.section-row#stadium
			include modules/stadium

		section.section-row#news
			include modules/new

		section.section-row#service
			.container
				.row
					section.new-title
						h1.title Socios
							span  Estratégicos
					.col-xs-12
						#owl-service.owl-carousel
							article
								a
									figure.block.block-img
										img(class="img-responsive" src="images/base/socio-1.png")
							article
								a
									figure.block.block-img
										img(class="img-responsive" src="images/base/socio-2.png")
							article
								a
									figure.block.block-img
										img(class="img-responsive" src="images/base/socio-3.png")
							article
								a
									figure.block.block-img
										img(class="img-responsive" src="images/base/socio-4.png")
							article
								a
									figure.block.block-img
										img(class="img-responsive" src="images/base/socio-5.png")
							article
								a
									figure.block.block-img
										img(class="img-responsive" src="images/base/socio-6.png")
							article
								a
									figure.block.block-img
										img(class="img-responsive" src="images/base/socio-7.png")
							article
								a
									figure.block.block-img
										img(class="img-responsive" src="images/base/socio-8.png")

		section.section-row#contact
			include modules/contact

		footer.footer
			include modules/footer
		script(src="js/bundle.js")
		script(src="https://maps.google.com/maps/api/js?sensor=false")
		script.
			var punto = new google.maps.LatLng(-12.079628,-77.011938);
			var mapOptions = {
				center: punto,
				zoom: 11,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
		script(src="js/vendor/jquery.themepunch.plugins.min.js")
		script(src="js/vendor/jquery.themepunch.revolution.min.js")
		script(src="js/vendor/owl.carousel.min.js")