.tp-caption
	h3,
	span
		text-transform uppercase
		font-size 2em
		font-family OpenCond
		font-weight 700
		color white
		display block
		text-align center
		&.titleRed
			color $red
	span
		margin-bottom 0.1em